<app-home></app-home>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

  <div style="display: flex; flex-direction: column; " >

  <div style="display:flex; flex-direction: row; justify-content: space-evenly;">
    <div class="mb-3">
      <label class="form-label" >Check-In Date : </label>
      <input class="form-control" type="date" formControlName="checkInDate">

        <small style="color: red;" *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
          check-in date required
        </small>

    </div>

    <div class="mb-3">
      <label class="form-label">Check-Out Date : </label>
      <input class="form-control" type="date" formControlName="checkOutDate">
    </div>
  </div>


  <div style="display:flex; flex-direction: row; justify-content: space-evenly;" >
    <div  class="mb-3">
      <label class="form-label">Guest Name : </label>
      <input class="form-control" type="text" formControlName="guestName">
    </div>

    <div class="mb-3">
      <label class="form-label">Guest Email : </label>
      <input class="form-control" type="email" formControlName="guestEmail">
    </div>

    <div class="mb-3">
      <label class="form-label">Room Number : </label>
      <input class="form-control" type="number" formControlName="roomNumber">
    </div>
  </div>



</div>

  <button type="submit" class="btn btn-primary" [disabled]="reservationForm.invalid" >Submit</button>
</form>
